B2BVendorServices/EnterpriseServices/wsdl/MoneyTransfer.wsdl

<definitions targetNamespace="http://www.moneygram.com/DSS40" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.moneygram.com/DSS40">
	
	<types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.moneygram.com/DSS40" schemaLocation="../xsd/MoneyTransfer.xsd">
    	</xsd:import></xsd:schema>
	

	</types>
	
	<message name="moneyTransferRequest">
		<part element="tns:moneyTransferRequest" name="parameters"/>
	</message>
	<message name="moneyTransferResponse">
		<part name="parameters" element="tns:moneyTransferResponse"/>
	</message>
	<message name="profileValidationRequest">
		<part name="parameters" element="tns:profileValidationRequest"/>
	</message>
	<message name="profileValidationResponse">
		<part name="parameters" element="tns:profileValidationResponse"/>
	</message>
	<portType name="DSS40PortType">
		<operation name="moneyTransfer">
			<input message="tns:moneyTransferRequest"/>
			<output message="tns:moneyTransferResponse"/>
		</operation>
		<operation name="profileValidation">
			<input message="tns:profileValidationRequest"/>
			<output message="tns:profileValidationResponse"/>
		</operation>
	</portType>
	<binding name="DSS40Binding" type="tns:DSS40PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="moneyTransfer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="profileValidation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="DSS40">
		<port name="DSS40Port" binding="tns:DSS40Binding">
			<soap:address location="http://localhost:9080/dss/services/DSS40"/>
		</port>
	</service>
</definitions>