B2BVendorServices/EnterpriseServices/xsd/MoneyTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.moneygram.com/DSS40" 
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.moneygram.com/DSS40" >


<xs:element name="batch" type="tns:Batch" />
	<xs:complexType name="Batch">
		<xs:sequence>
			<xs:element name="batchHeader" type="tns:BatchHeader" />
			<xs:element ref="tns:message" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="batchFooter" type="tns:BatchFooter" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BatchFooter">
		<xs:sequence>
			<xs:element name="batchSize" type="xs:nonNegativeInteger" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BatchHeader">
		<xs:sequence>
			<xs:element name="agentGroupId" type="tns:AgentGroupIdType" />
			<xs:element name="transmitDateTime" type="xs:dateTime" />
			<xs:element name="batchSequence" type="xs:positiveInteger" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="message" abstract="true" />
	<xs:complexType name="Message" abstract="true">
		<xs:sequence>
			<xs:element name="diagnostic" type="tns:DiagnosticType" minOccurs="0" />
			<xs:element name="processDateTime" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AccountHolder">
		<xs:sequence>
			<xs:element name="firstName" type="tns:NameType" />
			<xs:element name="middleName" type="tns:NameType" minOccurs="0" />
			<xs:element name="lastName" type="tns:NameType" />
			<xs:element name="maternalName" type="tns:NameType" minOccurs="0" />
			<xs:element name="address1" type="tns:AddressType" minOccurs="0" />
			<xs:element name="address2" type="tns:AddressType" minOccurs="0" />
			<xs:element name="address3" type="tns:AddressType" minOccurs="0" />
			<xs:element name="city" type="tns:CityType" minOccurs="0" />
			<xs:element name="stateProvince" type="tns:StateProvinceType" minOccurs="0" />
			<xs:element name="isoCountry" type="tns:CountryFreeFormType" minOccurs="0" />
			<xs:element name="zipPostalCode" type="tns:ZipPostalCodeType" minOccurs="0" />
			<xs:element name="phoneNumber" type="tns:PhoneNumberType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomField">
		<xs:sequence>
			<xs:element name="name" type="tns:CustomFieldNameType" />
			<xs:element name="value" type="tns:CustomFieldValueType" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="moneyTransferRequest" type="tns:MoneyTransferRequest" substitutionGroup="tns:message" />
	<xs:complexType name="MoneyTransferRequest">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="agentId" type="tns:AgentIdType" />
					<xs:element name="mgReferenceNumber" type="tns:MGReferenceNumberType" />
					<xs:element name="agentReferenceNumber" type="tns:AgentReferenceNumberType" minOccurs="0" />
					<xs:element name="mgReceiverRegistrationNumber" type="tns:MGReceiverRegistrationNumberType" minOccurs="0" />
					<xs:element name="agentReceiverRegistrationNumber" type="tns:AgentReceiverRegistrationNumberType" minOccurs="0" />
					<xs:element name="receiveOption" type="tns:ReceiveOptionType" minOccurs="0"/>
					<xs:element name="receiveISOCurrency" type="tns:CurrencyType" minOccurs="0" />
					<xs:element name="receiveISOCountry" type="tns:CountryType" minOccurs="0" />
					<xs:element name="receiverFirstName" type="tns:NameType" minOccurs="0" />
					<xs:element name="receiverMiddleName" type="tns:NameType" minOccurs="0" />
					<xs:element name="receiverLastName" type="tns:NameType" minOccurs="0" />
					<xs:element name="receiverMaternalName" type="tns:NameType" minOccurs="0" />
					<xs:element name="receiverAddress1" type="tns:AddressType" minOccurs="0" />
					<xs:element name="receiverAddress2" type="tns:AddressType" minOccurs="0" />
					<xs:element name="receiverAddress3" type="tns:AddressType" minOccurs="0" />
					<xs:element name="receiverCity" type="tns:CityType" minOccurs="0" />
					<xs:element name="receiverStateProvince" type="tns:StateProvinceType" minOccurs="0" />
					<xs:element name="receiverISOCountry" type="tns:CountryFreeFormType" minOccurs="0" />
					<xs:element name="receiverZipPostalCode" type="tns:ZipPostalCodeType" minOccurs="0" />
					<xs:element name="receiverPhoneNumber" type="tns:PhoneNumberType" minOccurs="0" />
					<xs:element name="receiveBankIdentifier" type="tns:ReceiveBankIdentifierType" minOccurs="0" />
					<xs:element name="receiveAccountName" type="tns:ReceiveAccountNameType" minOccurs="0" />
					<xs:element name="receiveAccountNumber" type="tns:ReceiveAccountNumberType" minOccurs="0" />
					<xs:element name="deliveryInstructions" type="tns:DeliveryInstructionType" minOccurs="0" />
					<xs:element name="expectedReceiveDate" type="xs:date" minOccurs="0" />
					<xs:element name="sendISOCurrency" type="tns:CurrencyType" minOccurs="0" />
					<xs:element name="sendISOCountry" type="tns:CountryType" minOccurs="0" />
					<xs:element name="sendFxRate" type="xs:decimal" minOccurs="0" />
					<xs:element name="sendAmount" type="tns:Decimal12.3Type" minOccurs="0" />
					<xs:element name="feeAmount" type="xs:string" minOccurs="0" />
					<xs:element name="receiveAmount" type="tns:Decimal12.3Type" />
					<xs:element name="senderFirstName" type="tns:NameType" />
					<xs:element name="senderMiddleName" type="tns:NameType" minOccurs="0" />
					<xs:element name="senderLastName" type="tns:NameType" />
					<xs:element name="senderAddress1" type="tns:AddressType" minOccurs="0" />
					<xs:element name="senderAddress2" type="tns:AddressType" minOccurs="0" />
					<xs:element name="senderCity" type="tns:CityType" minOccurs="0" />
					<xs:element name="senderStateProvince" type="tns:StateProvinceCodeType" minOccurs="0" />
					<xs:element name="senderCountry" type="tns:CountryFreeFormType" minOccurs="0" />
					<xs:element name="senderZipPostalCode" type="tns:ZipPostalCodeType" minOccurs="0" />
					<xs:element name="senderPhoneNumber" type="tns:PhoneNumberType" minOccurs="0" />
					<xs:element name="senderDateOfBirth" type="xs:date" minOccurs="0" />
					<xs:element name="senderPhotoIdType" type="tns:PhotoIdType" minOccurs="0" />
					<xs:element name="senderPhotoIdNumber" type="tns:PhotoIdNumberType" minOccurs="0" />
					<xs:element name="senderPhotoIdStateProvince" type="tns:StateProvinceCodeType" minOccurs="0" />
					<xs:element name="senderPhotoIdCountry" type="tns:CountryFreeFormType" minOccurs="0" />
					<xs:element name="senderLegalIdType" type="tns:LegalIdType" minOccurs="0" />
					<xs:element name="senderLegalIdNumber" type="tns:LegalIdNumberType" minOccurs="0" />
					<xs:element name="accountHolder" type="tns:AccountHolder" maxOccurs="unbounded" minOccurs="0" />
					<xs:element name="sendAgentZipCode" type="tns:ZipPostalCodeType" minOccurs="0" />
					<xs:element name="customField" type="tns:CustomField" maxOccurs="unbounded" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="moneyTransferResponse" type="tns:MoneyTransferResponse" substitutionGroup="tns:message"/>
	<xs:complexType name="MoneyTransferResponse" abstract="true">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="agentId" type="tns:AgentIdType"/>
					<xs:element name="mgReferenceNumber" type="tns:MGReferenceNumberType"/>
					<xs:element name="agentReferenceNumber" type="tns:AgentReferenceNumberType" minOccurs="0"/>
					<xs:element name="sendReqProcessDateTime" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="receiveResponse" type="tns:ReceiveResponse" substitutionGroup="tns:moneyTransferResponse" />
	<xs:complexType name="ReceiveResponse">
		<xs:complexContent>
			<xs:extension base="tns:MoneyTransferResponse">
				<xs:sequence>
					<xs:element name="actualReceiveOption" type="tns:ReceiveOptionType" minOccurs="0" />					
					<xs:element name="actualReceiveCurrency" type="tns:CurrencyType" minOccurs="0" />
					<xs:element name="actualReceiveAmount" type="tns:Decimal12.3Type" minOccurs="0" />
					<xs:element name="actualReceiveDateTime" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="rejectResponse" type="tns:RejectResponse" substitutionGroup="tns:moneyTransferResponse" />
	<xs:complexType name="RejectResponse">
		<xs:complexContent>
			<xs:extension base="tns:MoneyTransferResponse">
				<xs:sequence>
					<xs:element name="reasonCode" type="tns:TransactionRejectReasonCodeType" />
					<xs:element name="rejectMessage" type="tns:DiagnosticType" minOccurs="0" />
					<xs:element name="rejectFee" type="tns:Decimal12.3Type" minOccurs="0" />
					<xs:element name="actualRejectCurrency" type="tns:CurrencyType"/>
					<xs:element name="actualRejectAmount" type="tns:Decimal12.3Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="statusResponse" type="tns:StatusResponse" substitutionGroup="tns:message" />
	<xs:complexType name="StatusResponse">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="agentId" type="tns:AgentIdType" />
					<xs:element name="mgReferenceNumber" type="tns:MGReferenceNumberType" />
					<xs:element name="agentReferenceNumber" type="tns:AgentReferenceNumberType" minOccurs="0" />
					<xs:element name="notificationStatusCode" type="tns:NotificationStatusCodeType" />
					<xs:element name="reasonCode" type="tns:TransactionReasonCodeType" />
					<xs:element name="expectedReceiveDate" type="xs:date" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="profileValidationRequest" type="tns:ProfileValidationRequest" substitutionGroup="tns:message" />
	<xs:complexType name="ProfileValidationRequest">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="agentId" type="tns:AgentIdType" />
					<xs:element name="mgReceiverRegistrationNumber" type="tns:MGReceiverRegistrationNumberType" />
					<xs:element name="mgReceiverRegistrationVersion" type="tns:MGReceiverRegistrationVersionType" />
					<xs:element name="firstName" type="tns:NameType" />
					<xs:element name="middleName" type="tns:NameType" minOccurs="0" />
					<xs:element name="lastName" type="tns:NameType" />
					<xs:element name="maternalName" type="tns:NameType" minOccurs="0" />
					<xs:element name="address1" type="tns:AddressType" minOccurs="0" />
					<xs:element name="address2" type="tns:AddressType" minOccurs="0" />
					<xs:element name="address3" type="tns:AddressType" minOccurs="0" />
					<xs:element name="city" type="tns:CityType" minOccurs="0" />
					<xs:element name="stateProvince" type="tns:StateProvinceType" minOccurs="0" />
					<xs:element name="isoCountry" type="tns:CountryFreeFormType" minOccurs="0" />
					<xs:element name="zipPostalCode" type="tns:ZipPostalCodeType" minOccurs="0" />
					<xs:element name="phoneNumber" type="tns:PhoneNumberType" minOccurs="0" />
					<xs:element name="receiveOption" type="tns:ReceiveOptionType" minOccurs="0" />
					<xs:element name="receiveAccountName" type="tns:ReceiveAccountNameType" minOccurs="0" />
					<xs:element name="receiveAccountNumber" type="tns:ReceiveAccountNumberType" minOccurs="0" />
					<xs:element name="deliveryInstructions" type="tns:DeliveryInstructionType" minOccurs="0" />
					<xs:element name="accountHolder" type="tns:AccountHolder" maxOccurs="unbounded" minOccurs="0" />
					<xs:element name="customField" type="tns:CustomField" maxOccurs="unbounded" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="profileValidationResponse" type="tns:ProfileValidationResponse" substitutionGroup="tns:message" />
	<xs:complexType name="ProfileValidationResponse">
		<xs:complexContent>
			<xs:extension base="tns:Message">
				<xs:sequence>
					<xs:element name="agentId" type="tns:AgentIdType" />
					<xs:element name="mgReceiverRegistrationNumber" type="tns:MGReceiverRegistrationNumberType" />
					<xs:element name="mgReceiverRegistrationVersion" type="tns:MGReceiverRegistrationVersionType" />
					<xs:element name="statusCode" type="tns:ProfileValidationStatusCodeType" />
					<xs:element name="subStatusCode" type="tns:ProfileValidationSubStatusCodeType" />
					<xs:element name="reasonCode" type="tns:ProfileValidationReasonCodeType" />
					<xs:element name="reasonMessage" type="tns:DiagnosticType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--              -->
	<!-- Simple Types -->
	<!--              -->

	<xs:simpleType name="AddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AgentGroupIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AgentIdType">
		<xs:restriction base="xs:string">
			<xs:length value="8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AgentReceiverRegistrationNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AgentReferenceNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="APIVersionType">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CityType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CountryFreeFormType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CustomFieldNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CustomFieldValueType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Decimal12.3Type">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0" />
			<xs:maxExclusive value="1000000000000" />
			<xs:fractionDigits value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DeliveryInstructionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DiagnosticType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LegalIdType">
		<xs:restriction base="xs:string">
			<xs:length value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LegalIdNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MGReceiverRegistrationNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MGReceiverRegistrationVersionType">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MGReferenceNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PhoneNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PhotoIdNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PhotoIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ProfileValidationReasonCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00300" /> <!-- OFAC Hold -->
			<xs:enumeration value="00301" /> <!-- BSA Hold -->
			<xs:enumeration value="00302" /> <!-- Deny List Hold -->
			<xs:enumeration value="00303" /> <!-- Verify Cust Info -->
			<xs:enumeration value="00304" /> <!-- Other Pending -->
			<xs:enumeration value="00500" /> <!-- OFAC Reject -->
			<xs:enumeration value="00501" /> <!-- BSA Reject -->
			<xs:enumeration value="00502" /> <!-- Deny List Reject -->
			<xs:enumeration value="00503" /> <!-- Customer Doesn't Exist -->
			<xs:enumeration value="00504" /> <!-- Invalid Cust Acct Num -->
			<xs:enumeration value="00505" /> <!-- Cust Acct Doesn't Exist -->
			<xs:enumeration value="00506" /> <!-- Cust Acct Blocked -->
			<xs:enumeration value="00507" /> <!-- Cust Name Doesn't Match Acct Holder Name -->
			<xs:enumeration value="00508" /> <!-- Invalid Delivery Instructions-->
			<xs:enumeration value="00509" /> <!-- Other Rejected -->
			<xs:enumeration value="00600" /> <!-- Validated -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ProfileValidationStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PEN" />
			<xs:enumeration value="NAT" />
			<xs:enumeration value="ACT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ProfileValidationSubStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PEN" />
			<xs:enumeration value="IAT" />
			<xs:enumeration value="REJ" />
			<xs:enumeration value="VAL" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReceiveBankIdentifierType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReceiveAccountNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReceiveAccountNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReceiveOptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOME_DELIVERY" />
			<xs:enumeration value="BANK_DEPOSIT" />
			<xs:enumeration value="CARD_DEPOSIT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StateProvinceCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StateProvinceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransactionReasonCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01200" /> <!-- Acknowledged --> 
			<xs:enumeration value="01201" /> <!-- OFAC Hold --> 
			<xs:enumeration value="01202" /> <!-- BSA Hold --> 
			<xs:enumeration value="01203" /> <!-- Deny List Hold --> 
			<xs:enumeration value="01204" /> <!-- Verifying Cust Info --> 
			<xs:enumeration value="01205" /> <!-- Other Pending --> 
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransactionRejectReasonCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01400" /> <!-- OFAC Reject -->
			<xs:enumeration value="01401" /> <!-- BSA Reject -->
			<xs:enumeration value="01402" /> <!-- Deny List Reject -->
			<xs:enumeration value="01403" /> <!-- Customer Doesn't Exist -->
			<xs:enumeration value="01404" /> <!-- Invalid Customer Acct No -->
			<xs:enumeration value="01405" /> <!-- Cust Acct Doesn't Exist -->
			<xs:enumeration value="01406" /> <!-- Cust Acct Blocked -->
			<xs:enumeration value="01407" /> <!-- Cust Name Doesn't Match Acct Holder Name -->
			<xs:enumeration value="01408" /> <!-- Invalid Delivery Instructions -->
			<xs:enumeration value="01409" /> <!-- Other Reject -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransactionStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEN" />
			<xs:enumeration value="REJ" />
			<xs:enumeration value="REC" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NotificationStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PEN" />
			<xs:enumeration value="CAN" />
			<xs:enumeration value="REJ" />
			<xs:enumeration value="REC" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ZipPostalCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
		</xs:restriction>
	</xs:simpleType>


</schema>